@page "/restaurant/createrestaurant/"

<MudSnackbarProvider />

<PageTitle>Create a new restaurant</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large" FullWidth="true" Class="pa-4">
    <MudPaper Class="pa-4 mt-2" Elevation="4" Style="box-sizing: border-box;">

        <MudText Typo="Typo.h6" Align="Align.Left">Register a new restaurant</MudText>
        <MudText Typo="Typo.body1" Align="Align.Left">Fill the fields below to register your restaurant</MudText>

        @if (IsLoading)
        {
            <MudPaper Class="pa-8 mt-4">
                <MudSkeleton Height="55px" />
                <MudSkeleton Height="110px" />
                <MudSkeleton Height="55px" />
                <MudSkeleton Height="110px" />
                <MudSkeleton Height="55px" />
            </MudPaper>
        }

        else
        {
            <MudGrid Class="pa-4" Gutter="Gutter.Small" Style="display: flex; height: 100%;">
                <MudItem xs="12" md="6" Style="display: flex; flex-direction: column;">
                    <MudPaper Class="pa-4" Elevation="4" Style="flex-grow: 1; box-sizing: border-box;">
                        <EditForm Model="@CreateRestaurantRequest" @ref="CreateRestaurantForm" OnSubmit="OnValidSubmitAsync">
                            <FluentValidationValidator />
                            <MudTextField T="string" Label="Title"
                                          @bind-Value="CreateRestaurantRequest.Name"
                                          For="@(() => CreateRestaurantRequest.Name)"
                                          Immediate="true" Margin="Margin.Normal" />

                            <MudTextField T="string" Label="Description"
                                          @bind-Value="CreateRestaurantRequest.Description"
                                          For="@(() => CreateRestaurantRequest.Description)"
                                          Lines="5"
                                          Margin="Margin.Normal" />

                            <MudTextField T="string" Label="Contact phone"
                                          @bind-Value="CreateRestaurantRequest.ContactPhone"
                                          For="@(() => CreateRestaurantRequest.ContactPhone)"
                                          Mask="@(new PatternMask("(00) 00000-0000"))"
                                          Margin="Margin.Normal" />


                            <MudTextField T="string" Label="Address"
                                          @bind-Value="CreateRestaurantRequest.Address"
                                          For="@(() => CreateRestaurantRequest.Address)"
                                          Margin="Margin.Normal" />

                            <MudTextField T="string" Label="Country"
                                          @bind-Value="CreateRestaurantRequest.Country"
                                          For="@(() => CreateRestaurantRequest.Country)"
                                          Margin="Margin.Normal" />

                            <MudTextField T="double" Label="Price"
                                          @bind-Value="CreateRestaurantRequest.Price"
                                          For="@(() => CreateRestaurantRequest.Price)"
                                          Margin="Margin.Normal" />

                            <MudTextField T="int" Label="Clients limit"
                                          @bind-Value="CreateRestaurantRequest.ClientsLimit"
                                          For="@(() => CreateRestaurantRequest.ClientsLimit)"
                                          Margin="Margin.Normal" />

                            <div style="margin-top: 32px; display: flex; justify-content: flex-end; gap: 10px;">
                                <MudButton Variant="Variant.Filled" Color="Color.Success" ButtonType="ButtonType.Submit">Save</MudButton>

                                <MudButton Variant="Variant.Filled" OnClick="OnCancel">Cancel</MudButton>
                            </div>
                        </EditForm>
                    </MudPaper>
                </MudItem>

                <MudItem xs="12" md="6" Style="display: flex; flex-direction: column;">
                    <MudPaper Class="pa-4" Elevation="4" Style="flex-grow: 1; box-sizing: border-box;">
                        <div id="map" style="height: 100%; width: 100%;"></div>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        }

    </MudPaper>
</MudContainer>